@model Write.io.Models.ApplicationUser
@{ 
    
    var UserPortrait = Model.AvatarURL;
    if (Model.AvatarURL == "")
    {
        UserPortrait = "https://i.imgur.com/Pv2EYEJ.png";
    }
}


<div class="BlogSidebar">
    <div class="SideBarPortrait">
        <img src="@UserPortrait" />
    </div>
    <div class="BlogSidebarUserContainer">
        <div class="SidebarTitle">@Model.Nickname</div>
        <div class="SidebarUserPresentation">@Model.UserBio</div>
    </div>
    <div class="Divider"></div>
    <div class="BlogSidebarControls">
        <div class="BlogSearch">
            <input id="BlogSearchbar" data-URL="@ViewBag.BlogURL/S/" class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="Divider"></div>
        <div class="SidebarArchive">
            <div class="SidebarTitle">Archive</div>
            <ul>
                @foreach (var item in ViewBag.Archive)
            {
                    <li><a href="@ViewBag.BlogURL/S/@item">@item</a></li>
                }
            </ul>
        </div>
    </div>
    
</div>
<div class="Divider"></div>